lime_tbx/business/eocfi_adapter/eocfi_c/include/* linguist-vendored
lime_tbx/business/eocfi_adapter/eocfi_c/include/**/* linguist-vendored
lime_tbx/business/eocfi_adapter/eocfi_c/lib/* linguist-vendored
lime_tbx/business/eocfi_adapter/eocfi_c/lib/**/* linguist-vendored
lime_tbx/business/eocfi_adapter/eocfi_c/bin/* linguist-vendored
kernels/* linguist-vendored