include versioneer.py
include lime_tbx/_version.py
include lime_tbx/lime_algorithms/rolo/assets/wehrli_asc.csv
include lime_tbx/coefficients/access_data/assets/coefficients.csv
include lime_tbx/gui/assets/style.qss
include lime_tbx/gui/assets/lime_logo.png
