prune *
recursive-include lime_tbx *.py
include PKG-INFO

include lime_tbx/_version.py

include lime_tbx/presentation/gui/assets/style.qss
include lime_tbx/presentation/gui/assets/style_constants.txt
include lime_tbx/presentation/gui/assets/style_constants_darwin.txt
include lime_tbx/presentation/gui/assets/lime_logo.png
include lime_tbx/presentation/gui/assets/esa_logo.png
include lime_tbx/presentation/gui/assets/uva_logo.png
include lime_tbx/presentation/gui/assets/goa_uva_logo.png
include lime_tbx/presentation/gui/assets/npl_logo.png
include lime_tbx/presentation/gui/assets/vito_logo.png
include lime_tbx/presentation/gui/assets/spinner.gif
include lime_tbx/presentation/gui/assets/NotesEsaBol.otf
include lime_tbx/presentation/gui/assets/NotesEsaReg.otf

include lime_tbx/application/simulation/tests/assets/coefficients_cimel.csv
include lime_tbx/application/simulation/tests/assets/u_coefficients_cimel.csv

include lime_tbx/business/lime_algorithms/lime/assets/wehrli_asc.csv
include lime_tbx/business/lime_algorithms/lime/assets/tsis_cimel.csv
include lime_tbx/business/lime_algorithms/lime/assets/tsis_fwhm_1_1_triangle.csv
include lime_tbx/business/lime_algorithms/lime/assets/tsis_fwhm_3_1_gaussian.csv
include lime_tbx/business/lime_algorithms/lime/assets/tsis_asd.csv
include lime_tbx/business/spectral_integration/assets/interpolated_model_fwhm_1_1_triangle.csv
include lime_tbx/business/spectral_integration/assets/interpolated_model_fwhm_3_1_gaussian.csv
include lime_tbx/business/spectral_integration/assets/asd_fwhm.csv
include lime_tbx/business/spectral_integration/assets/responses_1088.csv

prune lime_tbx/business/interpolation/interp_data/assets
include lime_tbx/business/interpolation/interp_data/assets/SomeMoonReflectances.txt
include lime_tbx/business/interpolation/interp_data/assets/Apollo16.txt
include lime_tbx/business/interpolation/interp_data/assets/Breccia.txt
include lime_tbx/business/interpolation/interp_data/assets/Composite.txt
include lime_tbx/business/interpolation/interp_data/assets/ds_ASD_32.nc

prune lime_tbx/business/eocfi_adapter/eocfi_c
include lime_tbx/business/eocfi_adapter/eocfi_c/bin/get_positions_linux
include lime_tbx/business/eocfi_adapter/eocfi_c/bin/get_positions_darwin
include lime_tbx/business/eocfi_adapter/eocfi_c/bin/get_positions_darwin_arm
include lime_tbx/business/eocfi_adapter/eocfi_c/bin/get_positions_win64.exe
prune lime_tbx/application/filedata/c_scripts

prune lime_tbx/**/__pycache__
