atomicwrites~=1.4
comet-maths~=1.0.3
Deprecated~=1.2.18
matheo~=0.1.2
matplotlib~=3.9.4
mplcursors~=0.6
netCDF4~=1.6.5
numpy~=1.26.4
obsarray~=1.0.1
packaging>=24.1
pandas~=2.2.3
punpy~=1.0.2
PyYAML~=6.0
QtPy~=2.4
requests~=2.32
scipy~=1.13.1
setuptools>=58.1.0
spicedmoon==1.0.13
spiceypy~=6.0
xarray>=2024.7.0
xarray_schema>=0.0.3
