Package: lime
Version: 0.1-2
Section: base
Priority: optional
Architecture: amd64
Maintainer: Javier Gatón Herguedas <gaton@goa.uva.es>
Description: Lime Toolbox
 Toolbox for using the LIME (Lunar Irradiance Model of ESA)
 model to simulate lunar observations and compare to remote
 sensing observations of the moon.
