name: LaTeX-PDF Documentation

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions: write-all

jobs:
  build-latex:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: getsentry/action-setup-venv@v2.1.1
        id: venv
        with:
          python-version: ${{ matrix.python-version }}
          cache-dependency-path: |
            requirements.txt
            pyproject.toml
            MANIFEST.in
          install-cmd: pip install .[docs]
      - name: Build LaTeX
        run: |
          sphinx-build docs latex -b latex
          cp -r latex ./docs/quality_documentation/latex
      - name: Compile PDF
        run: |
          cd docs/quality_documentation/latex
          make
          cp user_manual.pdf ../../../user_manual.pdf
          cd ../../../
      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: user-manual
          path: user_manual.pdf
          retention-days: 1

